<% layout('layouts/boilerplate') %>
<h1>All Requests</h1>
<% for (let request of user.menteeRequests.reverse()){%>
    <div class="card mb-3">
        <div class="row">
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Employee: <%= request.user.username %> </h5>
                    <p class="card-text">Date: <%= request.date.toLocaleDateString() %> </p>  
                    <p class="card-text">Punch Type: <%= request.type %> </p> 
                    <p class="card-text">Punch Time: <%= request.date.toLocaleTimeString() %> </p>  
                    <p class="card-text">
                        <small class="text-muted">
                            Status: <%= request.status %> 
                        </small> 
                    </p>      
                </div>
                <% if(request.status != 'Approved') {%> 
                <div class="card-body">
                    <form class="d-inline" action="/mentee/request/approve/<%= request._id %>" method='POST'>
                        <button class="btn btn-success">Approve</button>
                    </form>
                </div>
                <% } %> 
            </div>
        </div>
    </div>
<%}%> 