<% layout('layouts/boilerplate') %>
<div class="row">
    <div class="col-6">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title"><h5>Name: <%= user.username %></h5>
                <p class="card-text">Designation: <%= user.designation %> </p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-muted">email: <%= user.email %></li>
                <% if(user.manager) {%> 
                <li class="list-group-item">Manager: <%= user.manager.username %></li>
                <% } %> 
            </ul>
            <% if(currentUser.designation === 'Admin') {%>
            <div class="card-body">
              <a class="card-link btn btn-info" href="/<%= user._id %>/edit">Edit</a>
              <form class="d-inline" action="/<%= user._id %>?_method=DELETE" method='POST'>
                  <button class="btn btn-danger">Delete</button>
              </form>
            </div>
            <% } %> 
        </div>
    </div>
</div>